<div class="options-chain">
  <table class="w-full text-sm">
    <!-- Header -->
    <thead>
      <tr class="bg-gray-800">
        <th class="text-green-500 p-2">Put Bid</th>
        <th class="text-red-500 p-2">Put Ask</th>
        <th class="font-bold p-2">Strike</th>
        <th class="text-green-500 p-2">Call Bid</th>
        <th class="text-red-500 p-2">Call Ask</th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      @for(options of optionsData; track options) {
      <tr class="border-b border-gray-700 hover:bg-gray-800">
        <td class="text-green-500 p-2 text-center">
          {{ options[1][1].best_bid || "-" }}
        </td>
        <td class="text-red-500 p-2 text-center">
          {{ options[1][1].best_ask || "-" }}
        </td>
        <td class="font-bold p-2 text-center bg-gray-800">{{ options[0] }}</td>
        <td class="text-green-500 p-2 text-center">
          {{ options[1][0].best_bid || "-" }}
        </td>
        <td class="text-red-500 p-2 text-center">
          {{ options[1][0].best_ask || "-" }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
