<div class="options-chain h-full">
  <table class="w-full text-center overflow-y-auto" style="max-height: 150px">
    <thead>
      <tr class="border">
        <th class="text-green-700 font-bold px-2 py-1">Call Bid</th>
        <th class="text-red-500 font-bold px-2 py-1">Call Ask</th>
        <th class="border font-bold px-2 py-1">Operations</th>
        <th class="border font-bold px-2 py-1">Strike</th>
        <th class="border font-bold px-2 py-1">Operations</th>
        <th class="text-green-700 font-bold px-2 py-1">Put Bid</th>
        <th class="text-red-500 font-bold px-2 py-1">Put Ask</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border" *ngFor="let options of Array.from(optionsData)">
        <td class="text-green-700 px-2 py-1">
          {{ options[1]?.[0]?.best_bid ?? '-' }}
        </td>
        <td class="text-red-500 px-2 py-1">
          {{ options[1]?.[0]?.best_ask ?? '-' }}
        </td>
        <td class="border px-2 py-1">
          <button
            matTooltip="Buy"
            class="cursor-pointer bg-green-700 hover:bg-green-900 text-white font-bold px-3 py-1 m-1 rounded-md"
          >
            B
          </button>
          <button
            matTooltip="Sell"
            class="cursor-pointer bg-red-500 hover:bg-red-700 text-white font-bold px-3 py-1 m-1 rounded-md"
          >
            S
          </button>
        </td>
        <td class="border font-bold px-2 py-1">{{ options[0] ?? "-" }}</td>
        <td class="border px-2 py-1">
          <button
            matTooltip="Buy"
            class="cursor-pointer bg-green-700 hover:bg-green-900 text-white font-bold px-3 py-1 m-1 rounded-md"
          >
            B
          </button>
          <button
            matTooltip="Sell"
            class="cursor-pointer bg-red-500 hover:bg-red-700 text-white font-bold px-3 py-1 m-1 rounded-md"
          >
            S
          </button>
        </td>
        <td class="text-green-700 px-2 py-1">
          {{ options[1]?.[1]?.best_bid ?? '-' }}
        </td>
        <td class="text-red-500 px-2 py-1">
          {{ options[1]?.[1]?.best_ask ?? '-' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
